body{
    font-family: sans-serif
}
form {
    width: 15.25cm;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

textarea {
    width: 100%;
    height: 10cm;
    resize: none;
    color: black;
    background-color: white; 
    border-color: dimgray;
    font-size: 25px;
    padding: 10px;
}

input {
    border: 1px solid;
    height: 1cm;
    width: 3cm;
    margin-top: 5%; 
    margin-right: 2%;
    padding: 10px;
}

h1 {
    color: darkblue;
    height: 20px;
}

iframe {
    width: 100%;
    height: 20cm;
    border: white;
}

input {
    border-color: dimgrey
}
