
form {
    width: 15cm;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

textarea {
    width: 100%;
    height: 10cm;
    resize: none;
    color: azure;
background-color: dodgerblue; 
border-color: dimgray;
}


h1 {
color: darkblue;
    height: 20;
}

iframe {
    width: 100%;
    height: 3cm;
    border-color: dodgerblue;
}

input {
    border-color: dimgrey
}
